<%- layout('layouts/main.ejs')  %>

<section>

    <div class="perfil"> 
        <div class="texto-perfil">
                <h1 class="display-4">Bienvenido! <%= user.email %></h1>
                <p class="lead">Descarga nuestra APP desde las plataformas para Android e IOS</p>
        </div>
        
                    
    </div>
    
        
</section>