<%- layout('layouts/main.ejs')  %>

<div class="login">
        <div class="row">
                <div class="col-md-4 offset-md-4">
                    
            <div class="card mt-4 text-center">
                <div class="card-header">
                    <h1>Login!</h1>
                </div>
                    <div class="card-body">
                            <form action="/signin" method="POST">
                                <div class="form-group">
                                        <input type="email" name="email" id="" placeholder="Ingresa tu usuario o correo" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="" placeholder="Ingresa tu contraseña" class="form-control">
                                </div>
                                 <button class="btn btn-success btn-block"type="submit">Ingresar</button>
                            </form>
                    </div>
                </div>
                </div>
            </div>
</div>
