<%- layout('layouts/main.ejs')  %>

<div class="registro">
        <div class="row">
                <div class="col-md-4 offset-md-4">
                    
            <div class="card mt-4 text-center">
                <div class="card-header">
                    <h1>Registro!</h1>
                </div>
                    <div class="card-body">
                            <form action="/signup" method="POST">
                                <div class="form-group">
                                    <input type="text" name="nombre" id="" placeholder="Ingresa tu nombre" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="apellido" id="" placeholder="Ingresa tus apellidos" class="form-control">
                                </div>
                                <div class="form-group">
                                        <input type="email" name="email" id="" placeholder="Ingresa un correo" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="telefono" id="" placeholder="Ingresa un telefono" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="direccion" id="" placeholder="Ingresa una dirección" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="" placeholder="Ingresa una contraseña" class="form-control">
                                </div>
                                 <button class="btn btn-success btn-block"type="submit">Registrar</button>
                            </form>
                    </div>
                </div>
                </div>
            </div>
</div>
