@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba( 0, 0, 0 , 0.6) !important;
  
  }
  
  .navbar-nav li {
    padding-right: .7rem;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
  }
  
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;
  }
  
  .caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
  
  }
  
  .caption h1 {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
  }
  
  .btn-lg {
    border-width:medium;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
  }

.carousel-item img {
    height: auto;
    width: 100%;
  }
  
  .carousel-caption h5 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 0.3rem;
  }
  
  .carousel-caption p {
    font-size: 1.6rem;
    text-shadow: .1rem .1rem .3rem black;
    padding-bottom: 1.6rem;
  }
  
  .carousel-inner img{
    background-size: cover;
    max-height: 900px;
  }
  
  .jumbotron {
    text-align: center;
    padding-bottom: 1.3rem;
  }
  
  .tiendas img {
    width: 250px;
    height: auto;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  
  .publicidad col {
    max-width: 900px;
    max-height: 800px;
    display: block;
  
  }
  
  .texto-pub {
    text-align: justify;
    justify-items: auto;
    justify-content: center;
    padding-top: 4.6rem;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  
  .texto-pub h1 {
    text-transform: uppercase;
    color: #117263;
    text-align: center;
    padding-bottom: 1.6rem;
    padding-top: 2.6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  
  .texto-pub p {
    font-size: large;
    font-weight: 500;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  
  .pagos {
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(4, 31, 73, 0.6),
    rgba(2, 50, 59, 0.45)
    );
    color: white;
  }
  
  .texto-pago {
    text-align: center;
    justify-items: auto;
    justify-content: center;
    padding-top: 3.3rem;
    padding-left: 3.3rem;
    padding-right: 3.3rem;
    font-family: 'Ubuntu Condensed', sans-serif;
  
  }
  .texto-pago h1 {
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  
  .imagen-pagos img {
    max-width: 600px;
    max-height: 600px;
    display:block;
    margin:auto;
    padding-top: 4.9rem;
    padding-bottom: 3.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background-size: cover;
    width: 100%;
  }
  
  .footer {
    background: linear-gradient(to bottom,
    rgba(250, 100, 0, 0.6),
    rgba(201, 65, 2, 0.6),
    rgba(221, 126, 2, 0.45)
    );
  }
  
  .footer img {
    max-width: 200px;
    max-height: 200px;
    display:block;
    margin:auto;
  }
  
  .footer-text {
    text-align: center;
    color: white;
    padding-bottom: 3.3rem;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  
  .footer-text a {
    text-decoration: none;
    color: white;
  }

  .card {
      width: 25rem;
  }

  .card-header h1 {
    color: #1ebba3;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  
  .card-body {
    text-transform: uppercase;
    font-weight: bold;
    color: #117263;
    font-family: 'Ubuntu Condensed', sans-serif;
   
  }

  .registro {
      padding-top: 4.6rem;
  }

  .login {
    padding-top: 4.6rem; 
  }

  .perfil {
      text-align: center;
      width: 100%;
      height: 950px;
      background: linear-gradient(to bottom,
      rgb(  13, 7, 106 ,.6),
      rgba( 11, 63, 135 , .6),
      rgba( 13, 126, 149 , .45)
      ), url(../img/perfil.jpg);
      background-attachment: fixed;
      background-position: center;
      background-size: cover
      
  }

  .texto-perfil {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
  }

  .texto-perfil h1 {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .texto-perfil p {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
  }

